extends ../shared/template

block content
  h1 Order Mexican Food!
  #controls
    input#username(type='text', autofocus=true, placeholder='Username')
    input#date(type='date')
    button#login Login

  #dashboard
  #added
